:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --accent-color-white: #FFFFFF;
  --grey-text-color: #757575
}


body  {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color-white);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.logo-web, 
.logo-studio,
.logo-white {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--main-color);
}

.list {
  list-style: none;
  margin: 0px;
}

.menu-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.contacts-link {
  color: var(--grey-text-color);
}

.hero {
    text-align: center;
}
    
.page-title {
  display: inline-block;
  width: 696px;
  min-height: 120;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 30px;
  background-color: rgba(47, 48, 58, 0.8);
}

.btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 200px;
}

.section {
  
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  margin: 0px;
  text-align: center;
}

.features-title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 10px;
  width: 270px;
}

.features-img {
  margin-bottom: 55px;
}

.features-description {
  font-weight: 400;
  color: var(--grey-text-color);
  margin: 0px;
}

.work-title {
  font-weight: 700;
  line-height: 1.142;
  color: var(--accent-color-white);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--grey-text-color) ;
}

.address {
  font-style: normal;
}

.addr {
  font-weight: 400;
  color: var(--accent-color-white);
}

.footer {
  background-color: #2F303A;
}

.logo-white {
  color: var(--accent-color-white);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  font-weight: 700;
  line-height: 1.143;
  color: var(--accent-color-white);
  text-transform: uppercase;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.project-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--main-color);
}

.project-btn:hover,
.project-btn:focus {
  color: var(--accent-color-white);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  color: var(--main-color);
}

.project-link {
  text-decoration: none;
}

.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-text-color);
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: var(--accent-color-white);
  background-color: rgba(33, 150, 243, 0.9);
}